body {
    background-color: rgb(74, 57, 26);
}

h1 {
    color: navy;
    margin-left: 20px;
      font-family: verdana;
  font-size: 300%;
}
h2 {
    color: yellow;
    margin-left: 20px;
}
h3 {
    color: blue;
    margin-left: 20px;
}
p {
  border: 2px solid powderblue;
  padding: 30px;
  color: red;
  font-family: courier;
  font-size: 160%;
}
